@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #2A2F4F;
    --primary-color: #E5BEEC;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 2em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.botao-jogar {
    padding: 8px 15px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    background: var(--primary-color);
    font-size: 1.5em;
    color: var(--bg-color);
    font-weight: 600;
}

.cores-invertidas {
    background: var(--bg-color);
    font-size: 1.5em;
    color: var(--primary-color);
}